<div class="container-fluid">
    <div class="row search-pokemon-row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-10 offset-1 inside-column-align">
            <mat-form-field id="search-field">
                <input type="text" matInput placeholder="Which pokemon are you looking for?">
                <mat-hint><strong>Pikachu, right? Everyone always search for him</strong> </mat-hint>
                <mat-icon matSuffix class="meowth-icon" inline="true" svgIcon="meowth" aria-hidden="false">
                </mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="row pokelist-container">

        <div class="row pokelist-row">

            <div *ngFor="let pokemon of pokemonFirstRow" class="col-10 col-md-5 col-lg">

                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title> {{ toCamelCase(pokemon.name) }} </mat-card-title>
                        <mat-card-subtitle> # {{ pokemon.id }} </mat-card-subtitle>
                    </mat-card-header>
                    <div class="pokemon-image-container">
                        <img mat-card-image src="{{pokemon.sprites.front_default}}" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip *ngFor="let types of pokemon.types">{{ toCamelCase(types.type.name) }}</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

            </div>

        </div>

        <div class="row pokelist-row">

            <div *ngFor="let pokemon of pokemonSecondRow" class="col-10 col-md-5 col-lg">

                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title> {{ toCamelCase(pokemon.name) }} </mat-card-title>
                        <mat-card-subtitle> # {{ pokemon.id }} </mat-card-subtitle>
                    </mat-card-header>
                    <div class="pokemon-image-container">
                        <img mat-card-image src="{{pokemon.sprites.front_default}}" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip *ngFor="let types of pokemon.types">{{ toCamelCase(types.type.name) }}</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

            </div>

        </div>

    </div>

    <div class="row pagination-buttons">

        <button class="pag-button" mat-flat-button color="primary" [disabled]="UrlParamOffset === 0"
            (click)="goToPreviousPage()">
            &lt;

        </button>

        <button class="pag-button" mat-flat-button color="primary" (click)="goToNextPage()">
            &gt;
        </button>

    </div>

</div>