.search-pokemon-row {
  margin: 1vh 0;
  margin-bottom: 2em;
}

.meowth-icon {
  transform: scale(3);
  width: 1em;
  position: absolute;
  z-index: 1;
  top: -0.8em;
}

.inside-column-align {
  display: flex;
  justify-content: center;
}

#search-field {
  width: 90%;
}

.pokelist-container {
  margin: 0 2em;
}

.pokelist-row {
  justify-content: space-around;
  margin-bottom: 1em;
  width: 100%;
}

.mat-card {
  width: inherit;
  margin-bottom: 1em;
}

.pokemon-image-container {
  display: flex;
  justify-content: center;
}

.mat-card-image {
  width: 50%;
  height: 50%;
}

.pagination-buttons {
  justify-content: center;
  margin-bottom: 2em;
}

.pag-button {
  margin: 0 1em;
}
