<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [ngClass]="{hidden: !(isHandset$ | async)}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/collection">My Collection</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon [inline]="true" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="top-menu-options">

        <div class="title" routerLink="">
          Angular Pokedex <mat-icon id="pokedexIcon" svgIcon="pokedex" aria-hidden="false" inline=true> </mat-icon>
        </div>

        <div [ngClass]="{hidden: !(isHandset$ | async)}" class="my-collection" routerLink="/collection">
          My Collection <mat-icon id="my-collectionIcon" svgIcon="star" aria-hidden="false" inline=true></mat-icon>
        </div>

      </div>

    </mat-toolbar>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>