<app-main-nav>
    <router-outlet></router-outlet>
</app-main-nav>

<mat-toolbar color="primary">
    <mat-toolbar-row class="footer">
        <span>
            Developed by João Victor Ignacio (https://github.com/ignaciojvig) --- </span>
        <span> Icons made by <a href="https://www.flaticon.com/authors/roundicons-freebies"
                title="Roundicons Freebies">Roundicons
                Freebies</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span>
    </mat-toolbar-row>
</mat-toolbar>