<div class="container-fluid">
    <div class="row collection-rows" *ngFor="let pokemon of myCollectionOfPokemons">

        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>

                    <mat-card-title class="card-title" matTooltip="{{ toCamelCase(pokemon.name) }}"
                        matTooltipPosition="right">
                        {{ toCamelCase(pokemon.name) }}
                    </mat-card-title>
                    <mat-card-subtitle> # {{ pokemon.id }} </mat-card-subtitle>
                </mat-card-header>
                <div class="pokemon-image-container">
                    <div *ngIf="pokemon.sprites.front_default === null">
                        <mat-icon class="mat-card-image not-found-images" svgIcon="egg" aria-hidden="false">
                        </mat-icon>
                    </div>
                    <img *ngIf="pokemon.sprites.front_default !== null" mat-card-image
                        src="{{ pokemon.sprites.front_default }}" alt="Image of a {{pokemon.name}}">
                </div>
                <mat-card-content>
                    <mat-chip-list>
                        <mat-chip *ngFor="let types of pokemon.types">{{ toCamelCase(types.type.name) }}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <div class="card-options">
                        <button mat-button mat-flat-button color="primary"
                            (click)="removeFromCollectionDialog(pokemon)"> Remove from Collection </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>